html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.canvas {
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    cursor: crosshair;
}

.whiteboard {
    width: 100%;
    height: 100%;
}

button {
    margin: 3px;
    height: 30px;
    float: left;
}

.bar {
    width: 100%;
    float: left;
}

#title {
    position: absolute;
    right: 20px;
    z-index: 10;
}

@media only screen and (max-width: 600px) {
    #title {
        display: none;
    }
}

.bars {
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: 320px;
}